{
  "presets": [
    [
      "@babel/preset-env", { "targets": { "node": "current"} }
    ], 
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "useESModules": true
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "reducers": "./src/reducers"
      }
    }],
  ]
}
